/* reset.css or normalize.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #f4f4f4;
    color: #333;
}

.header{
    background-color: #851f1f;
    padding: 10px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.header .container .forms-container{
    display: flex;
    align-items: center;
    position: relative;
}

.header .container .forms-container .input{
    border: none;
    outline: none;
    padding: 7px 20px;
    font-size: 14px;
    width: 200px;
    border-radius: 5px;
    color: #851f1f;
    cursor: pointer;    
}

.header .container .forms-container .input::placeholder{
    color: #851f1f;
}

.header .container .forms-container .material-symbols-outlined{
    position: absolute;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #851f1f;
}

.header .container .link-container{
    display: flex;
    align-items: center;
}

.header .container .link-container .nav-item .nav-link{
    font-size: 14px;
    font-weight: 400;
    transition: all 600ms ease-in-out;
    text-decoration: underline #851f1f;
}

.header .container .link-container .nav-item .nav-link:hover {
    color: #f4f4f4;
}
